(
    rules: [
        (
            matches: ["ali", "alie"],
            queries: [(name: "AliExpress", query: "aliexpress.com/wholesale?SearchText=")]
        ),
        (
            matches: ["amazon"],
            queries: [(name: "Amazon", query: "smile.amazon.com/s?k=" )]
        ),
        (
            matches: ["bing"],
            queries: [(name: "Bing", query: "bing.com/search?q=")]
        ),
        (
            matches: ["ddg"],
            queries: [(name: "DuckDuckGo", query: "duckduckgo.com/?q=")]
        ),
        (
            matches: ["dict"],
            queries: [(name: "Dictionary", query: "dictionary.com/browse/")]
        ),
        (
            matches: ["ducky", "!"],
            queries: [(name: "Ducky", query: "duckduckgo.com/?q=!+")]
        ),
        (
            matches: ["dev"],
            queries: [(name: "DEV Community", query: "dev.to/search?q=")],
        ),
        (
            matches: ["eco", "ecosia"],
            queries: [(name: "Ecosia Search", query: "ecosia.org/search?q=")]
        ),
        (
            matches: ["fh", "flathub"],
            queries: [(name: "Flathub", query: "flathub.org/apps/search/")]
        ),
        (
            matches: ["f", "finn"],
            queries: [(name: "Finn", query: "finn.no/recommerce/forsale/search?q=")]
        ),
        (
            matches: ["gh", "github"],
            queries: [(name: "GitHub", query: "github.com/search?q=")]
        ),
        (
            matches: ["gist"],
            queries: [(name: "GitHub Gist", query: "gist.github.com/search?q=")]
        ),
        (
            matches: ["g", "gs", "google"],
            queries: [(name: "Search", query: "google.com/search?q=")]
        ),
        (
            matches: ["gi"],
            queries: [(name: "Images", query: "google.com/images?q=")]
        ),
        (
            matches: ["gm"],
            queries: [(name: "Maps", query: "google.com/maps?q=")]
        ),
        (
            matches: ["gn"],
            queries: [(name: "News", query: "google.com/news?q=")]
        ),
        (
            matches: ["goodreads", "gr"],
            queries: [(name: "Goodreads", query: "goodreads.com/search?q=")]
        ),
        (
            matches: ["i", "imdb"],
            queries: [(
              name: "IMDB", 
              query: "duckduckgo.com/?q=!+site:imdb.com+", 
              icon: "https://static-00.iconduck.com/assets.00/imdb-icon-256x256-r6buuvup.png",
            )]
        ),
        (
            matches: ["js"],
            queries: [(name: "Javascript", query: "duckduckgo.com/?q=javascript+")]
        ),
        (
            matches: ["lib", "libgen"],
            queries: [(name: "Library Genesis", query: "libgen.is/search.php?req=")]
        ),
        (
            matches: ["l", "linux"],
            queries: [(name: "Linux", query: "duckduckgo.com/?q=linux+")]
        ),
        (
            matches: ["mdn"],
            queries: [(name: "Mozilla Developer Network", query: "developer.mozilla.org/search?q=")]
        ),
        (
            matches: ["npm"],
            queries: [(name: "npm", query: "npmjs.com/search?q=")]
        ),
        (
            matches: ["news"],
            queries: [(
              name: "News", 
              query: "https://news.google.com/search?q=", 
              icon: "https://e7.pngegg.com/pngimages/432/578/png-clipart-google-news-google-i-o-mobile-app-google-blue-angle-thumbnail.png",
            )]
        ),
        (
            matches: ["rdt", "reddit", "r"],
            queries: [(name: "Reddit", query: "reddit.com/search/?q=")]
        ),
        (
            matches: ["r/"],
            queries: [(name: "Reddit r/", query: "reddit.com/r/")]
        ),
        (
            matches: ["rn"],
            queries: [(name: "React Native", query: "duckduckgo.com/?q=react+native+")]
        ),
        (
            matches: ["stack"],
            queries: [(name: "Stack Overflow", query: "stackoverflow.com/search?q=")]
        ),
        (
            matches: ["u", "ubuntu"],
            queries: [(name: "Ubuntu", query: "duckduckgo.com/?q=ubuntu+")]
        ),
        (
            matches: ["wiki"],
            queries: [(name: "Wikipedia", query: "wikipedia.org/w/index.php?search=")]
        ),
        (
            matches: ["www"],
            queries: [(
                name: "Open Website",
                query: "https://",
                icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Crystal128-browser.svg/179px-Crystal128-browser.svg.png",
            )]
        ),
        (
            matches: ["yh", "yahoo"],
            queries: [(name: "Yahoo!", query: "search.yahoo.com/search?p=")]
        ),
        (
            matches: ["yt", "youtube"],
            queries: [(name: "YouTube", query: "youtube.com/results?search_query=")]
        ),
    ]
)

