// Icons are saved in ~/.cache/pop-launcher

(
    rules: [
        (
            matches: ["ali", "alie"],
            queries: [(name: "AliExpress", query: "aliexpress.com/wholesale?SearchText=")]
        ),
        (
            matches: ["amazon"],
            queries: [(name: "Amazon", query: "smile.amazon.com/s?k=" )]
        ),
        (
            matches: ["bing"],
            queries: [(name: "Bing", query: "bing.com/search?q=")]
        ),
        (
            matches: ["d", "ddg"],
            queries: [(
              name: "DuckDuckGo", 
              query: "duckduckgo.com/?q=",
              icon: "https://cdn3.iconfinder.com/data/icons/social-media-special/256/duckduckgo-48.png",
            )]
        ),
        (
            matches: ["dict"],
            queries: [(name: "Dictionary", query: "dictionary.com/browse/")]
        ),
        (
            matches: ["ducky", "!"],
            queries: [(
              name: "Ducky", 
              query: "duckduckgo.com/?q=!+",
              icon: "https://cdn3.iconfinder.com/data/icons/social-media-special/256/duckduckgo-48.png",
            )]
        ),
        (
            matches: ["dev"],
            queries: [(name: "DEV Community", query: "dev.to/search?q=")],
        ),
        (
            matches: ["eco", "ecosia"],
            queries: [(name: "Ecosia Search", query: "ecosia.org/search?q=")]
        ),
        (
            matches: ["fh", "flathub"],
            queries: [(name: "Flathub", query: "flathub.org/apps/search/")]
        ),
        (
            matches: ["f", "finn"],
            queries: [(name: "Finn", query: "finn.no/recommerce/forsale/search?q=")]
        ),
        (
            matches: ["gh", "github"],
            queries: [(name: "GitHub", query: "github.com/search?q=")]
        ),
        (
            matches: ["gist"],
            queries: [(name: "GitHub Gist", query: "gist.github.com/search?q=")]
        ),
        (
            matches: ["g", "gs", "google"],
            queries: [(name: "Search", query: "google.com/search?q=")]
        ),
        (
            matches: ["gi"],
            queries: [(name: "Images", query: "google.com/images?q=")]
        ),
        (
            matches: ["gimp"],
            queries: [(
              name: "GIMP", 
              query: "duckduckgo.com/?q=gimp+",
              icon: "https://www.file-extensions.org/imgs/app-icon/128/3349/gimp-icon.png",
            )]
        ),
        (
            matches: ["gm"],
            queries: [(name: "Maps", query: "google.com/maps?q=")]
        ),
        (
            matches: ["gn"],
            queries: [(name: "News", query: "google.com/news?q=")]
        ),
        (
            matches: ["goodreads", "gr"],
            queries: [(name: "Goodreads", query: "goodreads.com/search?q=")]
        ),
        (
            matches: ["i", "imdb"],
            queries: [(
              name: "IMDB", 
              query: "duckduckgo.com/?q=!+site:imdb.com+", 
              icon: "https://static-00.iconduck.com/assets.00/imdb-icon-256x256-r6buuvup.png",
            )]
        ),
        (
            matches: ["js", "javascript"],
            queries: [(
              name: "Javascript", 
              query: "duckduckgo.com/?q=javascript+",
              icon: "https://cdn.iconscout.com/icon/free/png-128/javascript-24-1174950.png",
            )]
        ),
        (
            matches: ["lib", "libgen"],
            queries: [(name: "Library Genesis", query: "libgen.is/search.php?req=")]
        ),
        (
            matches: ["l", "linux"],
            queries: [(
              name: "Linux", 
              query: "duckduckgo.com/?q=linux+",
              icon: "https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_linux-48.png",
            )]
        ),
        (
            matches: ["mdn"],
            queries: [(name: "Mozilla Developer Network", query: "developer.mozilla.org/search?q=")]
        ),
        (
            matches: ["npm"],
            queries: [(name: "npm", query: "npmjs.com/search?q=")]
        ),
        (
            matches: ["news"],
            queries: [(
              name: "News", 
              query: "https://news.google.com/search?q=", 
              icon: "https://e7.pngegg.com/pngimages/432/578/png-clipart-google-news-google-i-o-mobile-app-google-blue-angle-thumbnail.png",
            )]
        ),
        (
            matches: ["op", "openwebui"],
            queries: [(
              name: "Open WebUI", 
              query: "http://localhost:3000/?q=", 
              icon: "https://openwebui.com/favicon.png",
            )]
        ),
        (
            matches: ["rdt", "reddit", "r"],
            queries: [(name: "Reddit", query: "reddit.com/search/?q=")]
        ),
        (
            matches: ["r/"],
            queries: [(name: "Reddit r/", query: "reddit.com/r/")]
        ),
        (
            matches: ["rn"],
            queries: [(name: "React Native", query: "duckduckgo.com/?q=react+native+")]
        ),
        (
            matches: ["stack"],
            queries: [(name: "Stack Overflow", query: "stackoverflow.com/search?q=")]
        ),
        (
            matches: ["tw", "tc", "tailwind", "tailwindcss"],
            queries: [(name: "Tailwind CSS", query: "duckduckgo.com/?q=tailwind+css+")]
        ),
        (
            matches: ["u", "ubuntu"],
            queries: [(
              name: "Ubuntu", 
              query: "duckduckgo.com/?q=ubuntu+",
              icon: "https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/348_Ubuntu_logo-48.png",
            )]
        ),
        (
            matches: ["wiki", "w"],
            queries: [(name: "Wikipedia", query: "wikipedia.org/w/index.php?search=")]
        ),
        (
            matches: ["wa"],
            queries: [(name: "WhatsApp DM", query: "https://wa.me/")]
        ),
        (
            matches: ["www"],
            queries: [(
                name: "Open Website",
                query: "https://",
                icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Crystal128-browser.svg/179px-Crystal128-browser.svg.png",
            )]
        ),
        (
            matches: ["x"],
            queries: [(name: "X", query: "x.com/search?q=")]
        ),
        (
            matches: ["yh", "yahoo"],
            queries: [(name: "Yahoo!", query: "search.yahoo.com/search?p=")]
        ),
        (
            matches: ["yt", "youtube"],
            queries: [(name: "YouTube", query: "youtube.com/results?search_query=")]
        ),
    ]
)

